@font-face {
    font-family: cinzel;
    src: url(../Cinzel-VariableFont_wght.ttf);
}


body{
    background-color: #1C1A1A;
    color: #EDEBE6;
    font-family: cinzel;
    text-align: center;
}

button{
    margin: 10px 30px 10px 30px;
    height: 40px;
    width: 120px;
    border-radius: 10px;
    font-family: cinzel;
    background-color: aliceblue;
    font-weight: bold;
    font-size: 20px;

    transition: background-color 1s;
}

button:hover{
    cursor: pointer;
    background-color: rgb(240, 216, 6);
}


.page{
    display: flex;
    justify-content: center;
    align-items: center;
}



.homeCont{
    margin-bottom: 60px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
}

.homeCont > h1, h3{
    height: 80%;
    margin: 0;
}

.homeCont > h3{
    font-size: 100%;
}

.homeCont > img{
    margin-left: auto;
    margin-right: auto;
}

.mottoCont{
    margin-top: 15px;
}

.mottoCont > h2, h3{
    margin: 0;
}

.mottoCont > h2{
    font-size: 22px;
}

.mottoCont > h3{
    font-size: 15px;
}

table, th, td{
    border: 1px solid goldenrod;
    border-collapse:inherit;
}

th{
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

td{
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    font-family: 'Courier New', Courier, monospace;
}

table{
    border: 4px solid goldenrod;
}